:root{
  --main-white: #f0f0f0;
  --main-red: #3D5467;
  --main-blue: #8AA29E;
  --main-gray: #263540;
}

*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400rem;
  line-height: 1.4;
  color: var(--main-white);
}

a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul{
  list-style-type: none;
}

h1{
  font-size: 5rem;
}

h1, h2{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

#navbar{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width:  100%;
  background: var(--main-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 40%);
  z-index: 10;
}

.nav-list{
  display: flex;
  margin: 0 2rem 0 0;
}

.nav-list a{
  display: block;
  font-size: 1.4rem;
  padding: 1.5rem;
}

#welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width:  100%;
  height: 100vh;
  background-color: #000;
  background: linear-gradient(90deg, rgba(57,45,47,1) 0%, rgba(68,14,19,1) 42%);

}

#welcome > p{
  font-size: 2.25rem;
  font-weight: 200rem;
  font-style: italic;
  color: var(--main-red);
  text-align: center;
}

.projects-main-title{
  max-width: 450px;
  margin: 0 auto 6rem;
  border-bottom: 2px solid var(--main-white);
}

#project{
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
}

.projects-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.card{
  background-color:  var(--main-gray);
  width: 25%;
  min-width: 340px;
  max-width:  400px;
  padding: 7px;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  margin: 2.5rem 1.25rem;
}

@media only screen and (max-width: 600px){
  .card{
    width:  100%;
  }
}

.project-image{
  width: 100%;
  border-radius: 2px 2px 0 0 ;
}

.project-title{
  font-weight: lighter;
  font-size: 1.5rem;
  padding-block:  0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
  border: none;
  color:  inherit;
}

.btn-projects{
  font-size: 1.5rem;
  background: var(--main-gray);
  transition: background 0.3 ease-out;
}

.btn-projects:hover{
  background: rgba(68,14,19,1);
}


.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:  100%;
  height:  85vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

.heading-two{
  font-size: 4rem;
}

.contact > p{
  font-style: italic;
}

.contact-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin: 4rem 0 0 0;
  flex-wrap: wrap;
}

.profile-link{
  padding-inline: 2rem;
}

.profile-link:hover{
  color: #771821;
}

.footer{
  display: flex;
  flex-direction: row;
  font-weight: 300;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top:  4px solid rgba(68,14,19,1);
}

.footer > p{
  font-size: 1rem;
}

@media only screen and (max-width: 768px){
  .contact-links{
    flex-direction: column;
  }
}






